@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');

* {

    margin: 0;
    padding: 0;

}


body,
html {
    height: 100%;
    background-color: #000;
}


header {

    font-family: 'The Nautigal', cursive;
    background: fixed;
    z-index: 3;
    background-color: #000;
    color: #fff;
    display: flex;
    width: 100%;
    box-shadow: 1px 8px 6px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 1px 8px 6px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 1px 8px 6px 0px rgba(0, 0, 0, 0.48);
}

header:nth-child(2) {
    display: flex;

}

a,
p {
    color: #000000
}

footer div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-between;
}




.images-user {
    width: 50px;
    border-radius: 50%;
}

footer {

    margin-bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
    background-color: #000000;

}